@import "common.css";

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

.card {
    background-color: var(--white);
    border: 2px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    flex: 1 1 350px; /* Minimum 350px genişlik ve esneklik sağlar */
}


.course-img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Görselin kartın içine sığması için */
    border-radius: 8px;
    background-color: #ddd;
}

.tag {
    display: inline-block; 
    padding: 4px 8px;
    background: #f3f4f6;
    color: #4b5563;
    border-radius: 4px;
    width: fit-content; /* İçeriğe göre genişlik */
}

.topbar {
    display: flex;
    justify-content: space-between; 
    padding-bottom: 16px;
    border-bottom: 2px solid var(--border); 
    align-items: center;
    margin-bottom: 24px;
}

.search-bar {
    background: var(--white);
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--border);
    border-radius: 4px;
    padding: 8px 12px;
    width: 300px;
}

.search-bar input {
    border: none;
    padding: 0;
    width: 100%; /* Arama çubuğunun kalan genişliğini kaplamasını sağlar */
}